fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pillow==10.3.0
torch==2.3.0
torchvision==0.18.0
pennylane==0.36.0
pennylane-lightning==0.36.0
numpy==1.26.4
scikit-learn==1.4.2
opencv-python-headless==4.9.0.80
python-dotenv==1.0.1
kaggle==1.6.14
tqdm==4.66.4
matplotlib==3.9.0
